doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    nav
      a(href='#') Yeo
      a(href='#') Home
      a(href='#') News
      a(href='#') Contact
      a(href='#') About
    block content
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/bootstrap.min.js')